<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>${i18n("index")}</h1>

<p>and welcome to <b>PIVOT.Bots </b> - an app for automatic chatbot-based assessment.</p>

<p>Our bots learn from domain-specific text you provide by extracting keywords and questions.
    <br>In the dialogue later, they evaluate users based on measuring associated sentiments in the answers given. </p>
<img alt="bot talk" class="img-recipe" src="/assets/img/recipe_talk.png"/>

<h4>Recipe</h4>
<ol type="1">
    <li>
        <b>Create</b> your own profile and bot in <a href="/settings">Settings</a>.
    </li>
    <li>
        <b>Teach</b> the bot with text in <a href="/learning">Learning</a>.
    </li>
    <li>
        <b>Talk</b> as long as you wish in <a href="/dialogue">Dialogue</a>.
    </li>
    <li>
        <b>Get</b> your results in <a href="/analysis">Analysis</a>.
    </li>
</ol>

<h3>Now fly, you fools!</h3>

</@layout.myLayout>
